<div class="fixed flex pt-3 pl-6 pr-8 bg-accent-header h-[72px] w-full z-40">
  <h1 class="text-6xl text-white font-bold font-logo tracking-wide leading-none">Mshift</h1>
  <div class="ml-auto"><%= button_to "ログアウト", destroy_user_session_path, method: :delete, class: "w-32 h-12 bg-primary-300 text-center text-white font-bold !leading-none" %></div>
</div>
